:root {
  --primary: hsl(0, 91%, 64%);
  --primaryalt: #ab2525;
  --secondary: #26ab4b;
  --secondaryalt: #025e1c;
  --black: #262626;
  --white: #f6efef;
  --green: #568026;
}
nav{
  box-shadow: 0px 0px 5px var(--primaryalt);
  position: relative;
  z-index: 10000;
}
#bookSection {
  width: 100%;
  display: grid;
  gap: 3rem;
  grid-template-columns:repeat( auto-fit, minmax(350px, 1fr) )
}
main{
  padding-inline: 1rem;
}
.bookArticle{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  color:var(--white);
  background-color: rgba(247, 79, 79, 0.1);
  padding: 20px;
  border-radius: 1rem;
  gap: .5rem;
  position: relative;
}

.bookArticle h2 {
  color: var(--primary);
  height: 3rem;
  line-height: 1.5rem;
  align-items: center;
  justify-content: center;
  max-width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.bookArticle h3{
  font-family: "playfair-display";
  font-weight: 100;

}
.bookimg{
  width: 80%;
  height: 180px;
  object-fit: contain;

}
#edit{
  padding: 10px;
  background-color: var(--primary);
  margin-block: 2rem;
  border: none;
  border-radius: 1rem;
  color: var(--white);
  transition: .3s;
}
#editArticle.active{
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 gap: 1rem;
}
#addBook{
  color: var(--secondary);
  background-color: rgba(247, 79, 79, 0.1);
  width: 50%;
  height: 70%;
  font-size: 5rem;
  border: 3px solid var(--primary);
  border-radius: 3rem;
  transition: .5s;
  min-height: 20rem;
}
#addBook:hover{
  text-shadow: var(--secondary) 1px 0 10px;
  box-shadow: inset 0px 0px 5px var(--primary);
}
#done{
  color: var(--white);
  padding: .5rem;
  background-color: var(--primary);
  border-radius: .4rem;
  border: none;
  transition: .3s;
}
#done:hover{
  background-color: var(--primaryalt);
}
#edit:hover{
  background-color: var(--primaryalt);
}
#edit:disabled{
  opacity: .3;
}
#addForm{
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  padding: 3rem;

}
#editArticle{
  position: relative;
}
#addForm input{
  width: 75%;
  height: 2rem;
  padding: 4px;
  margin-inline:auto ;
  background-color: var(--white);
  border: 3px solid var(--primaryalt);
  border-radius: 10px;
}
#addForm button{
  background-color: var(--primaryalt);
  margin-top: 1rem;
  max-width: fit-content;
  margin-inline: auto;
  color: var(--white);
  border: none;
  padding: .5rem;
  border-radius: .5rem;
}
.arrow{
  font-size: 3rem;
  position: absolute;
  top:0;
  right: 5px;
  transition: .3s;
  color: var(--primary);
}
button:hover{
  cursor: pointer;
}
#arrow{
  background-color: unset;
  border: none;
  z-index: 10000;
}
.arrow:hover{
  color: var(--primaryalt);
}

.deleteBtn{
  font-size: 2.5rem;
  font-weight: 900;
  background-color: unset;
  border: none;
  color: var(--primary);
  position: absolute;
  right: 0;
  top: -20px;
}
.selectImg{
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.imgSelectBtn{
  border: none;
  
}
#addImage{
  border: 1px solid black;
  background-size: cover;
  background-position: center;
  padding: 5px;
  border-radius: 5px;
  background-color: #ab2525;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  width:fit-content;
  justify-self: center;
  margin-top: 1rem;
  
}
#addImage:hover{
  background-color: var(--primary);
  cursor: pointer;
}
#addImage.active:hover{
  filter: saturate(2);
}
#addImage.active{
  height: 10rem;
  width: 100%;
  text-shadow: 2px 2px 2px black;
}
#imgBox{
  position: absolute;
  inset: 0;
  height: fit-content;
  width: fit-content;

  display: grid;
  grid-template-columns: repeat(4,1fr);
  border: 5px solid var(--primary);
}
#imgBox img{
 width: 100%;
  height: 100%;
object-fit: cover;
-webkit-user-drag: none;
}
#imgBox img:hover{
  filter: saturate(2);
  outline: 2px solid var(--primary);
  
}
.bookFetchInfo{
  display: flex;
  flex-direction: column;
  text-align: left;

}
.bookFetch h2{
  color: var(--primary);
  white-space: nowrap;
  overflow-x: scroll;
  max-width: 200px

}
.bookFetch h3{
  color: var(--white);
}
.bookFetch{
  display: grid;
  background-color: rgba(247, 79, 79, 0.1);
  align-items: center;
  margin-block: .3rem;
  
  grid-template-columns: 50px auto;
  gap: 5px;
  font-size: .7rem;
  cursor: pointer;
}
.fetchImg{
  height: 60px;

}
#bookSuggestions{
  max-height: 250px;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 105%;
  display: none;
}

#bookSuggestions::-webkit-scrollbar {
  border-radius: 20px;
  background-color: var(--black);
}

#bookSuggestions::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border: none;
  border-radius: 10px;
}

#bookSuggestions::-webkit-scrollbar-thumb:hover {
  background-color: var(--primaryalt);
}

.bookFetch h2::-webkit-scrollbar {
  border-radius: 20px;
  background-color: unset;
  height: .4rem;
}

.bookFetch h2::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border: none;
  border-radius: 20px;
  
}

.bookFetch h2::-webkit-scrollbar-thumb:hover {
  background-color: var(--primaryalt);
}
.bookArticle p{
  overflow-y: scroll;
  max-height: 10rem;
}

.bookArticle p::-webkit-scrollbar {
  border-radius: 20px;
  background-color: unset;
  width: 5px;
}

.bookArticle p::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border: none;
  border-radius: 10px;
}

.bookArticle p::-webkit-scrollbar-thumb:hover {
  background-color: var(--primaryalt);
}